<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>CSC400</title>
  <!-- <link rel="stylesheet" href="/public/styles.css"> -->
</head>
<body>
    <div>
        <h1>Since the server started, this page has been visited: <%= count %> times.</h1>
        <br>
        <h2>According to Twitter the current max visits is: <%= highScore %>   <br> on:  <%= dateOf %></h2>
        <br>
        <h2><a href="https://twitter.com/csc400Node">Click here to see the twitter feed that tweets when the high score is broken.</a></h2>
    </div>
</body>
